<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.hugomedina.themovielister">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MovieListerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.TheMovieLister">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name" />
        <activity android:name=".ui.ActorActivity" />
        <activity android:name=".ui.LogInActivity" />
        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="ey4kgJQkZ1Yn5RkmC7dFcbUEIskvRwZNCZ3Y8cmo" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="HYYzN5ZcINm4LkrFiz7zyEpk7QNQOGbEVgq0rR6y" />

        <activity android:name=".ui.ListActivity" />
        <activity android:name=".ui.SearchActivity"></activity>
    </application>

</manifest>
